<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mooneyserver.dublinpubs" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DublinPubs</name>
    <description>
        A list of all the pubs in Dublin that me and Kev have drank in.
    </description>
	<icon src="img/pub.png"/>
    <author email="brian_satchwannabe@hotmail.com" href="http://dublinpubs-mooneyserver.rhcloud.com/">
        Brian Mooney
    </author>
    <content src="index.html" />
	<access origin="*"/>
</widget>
