<ons-toolbar>
    <div class="center">Map</div>
</ons-toolbar>

<div ng-controller="MapController">
    <google-map
    	center="map.center"
        zoom="map.zoom"
        dragging="map.dragging"
        draggable="true"
        control="map.control">

        <marker ng-repeat="pub in pubs"  coords='pub' icon='pub.icon' ng-click='onMarkerClicked(pub)' idkey='pub.id'>
        	<window show="pub.showWindow" ng-cloak>
            	<div>
                	<h4>{{pub.name}}</h4>
                	<p>{{pub.review[0]}}</p>
                	<br/>
                </div>
            </window>
        </marker>
    </google-map>
</div>
